html, body{
    background-color: #D0CFEC;
    margin: 0;
    padding: 0;
}

body{
    background-color: #D0CFEC;
}

#loginRegis{
    text-align: center;
    font-size: 2em;
    background-color: #D0CFEC;
}
.block{
    text-align: center;
    padding: 40px;
    border: 5px solid #084C61;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 17%;
    background-color: #FBF9FF;
}

#navigation{
    margin-bottom: 0px;
    background-color: #292563;
    color: white;
    border: 0px solid transparent;
    border-radius: 0px;
}

#homePage{
    border: 0px;
    border-radius: 0px;
    background-color: #D0CFEC;
    padding-left: 20%;
    padding-right: 20%;
    margin:auto;
    padding-top: 20%;
}


.nav-detail{
    color: white;    
}
.nav-detail:hover{
    color: black;
}

.td-elem{
    padding: 20px;
    text-align: center;
    max-height: 400px;
}

.img-icon{
    height: 400px;
    width: auto;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}

.bkg{
    background-color: #D0CFEC;
}