{% extends 'home.html' %}
{% block search %}
<span class="input-group-btn">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Search By:
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/home/">Movies</a></li>
      <li><a href="/actorSearch/" class="active">Actors</a></li>
    </ul>
  </div>
</span>
<input class="form-control" type="text" id="a" name="a" placeholder="Search for an Actor">
{% endblock %}
