<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <nav class="nav navbar-default">
      <div class="container-fluid">
        {% if user %}
        <form action="/logout/">
          <input type="submit" value="Logout">
        </form>
        <a type="button" href="/account/">View Account</a>
        {% else %}
        <form action="/login/">
          <input type="submit" value="login">
        </form>    
        {% endif %}
      </div>
    </nav>
  </body>
</html>
